<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Nexenta Elastic Framework API documentation</title>
        <script src="scripts/prettify/prettify.js"> </script>
        <script src="scripts/prettify/lang-css.js"> </script>
        <link type="text/css" rel="stylesheet" href="styles/prettify-jsdoc.css">
        <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
        <link type="text/css" rel="stylesheet" href="styles/nef-api.css">
    </head>
    
    <body>
    <?js= content ?>
    </body>

</html>
