<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Nexenta Elastic Framework API documentation</title>
        <link rel="stylesheet" href="api.css" media="screen" />
    </head>
    
    <body>

        <div role="main">
            <h2>API documentation</h2>

            <div class="worker">
                <h3>Network</h3>
                
                <h4>Return structures</h4>

                <ul>
                    <li>interfaceList</li>
                    <li>interfacePropertyList</li>
                </ul>

                <h4>Methods</h4>
                
                <ul>
                    <li>listInterface</li>
                    <li>listInterfaceProperty</li>
                </ul>

            </div>   
              
            <div class="worker">
                <h3>Zpool</h3>
            </div>

        </div>

        <div role="Navigation">
            <h2>API Index</h2>
            <ul>
                <li>Network</li>
                <li>
                    <h3>Return structures</h3>
                    <ul>
                        <li>interfaceList</li>
                    </ul>
                <li>
                    <h3>methods</h3>
                    <ul>
                    </ul>
                </li>
    
                <li>Zpool</li>
            </ul>
        </div>

    </body>

</html>
